.header>img {
    width: 20%;
    margin-top: 20px;
}

.button {
    display: flex;
    justify-content: flex-end;
}

.label {
    display: flex;
    flex-direction: column;
    margin-left: 1px;
    margin-top: 10px;
    margin-right: 100px;
}

.Ficha {
    color: #009DB2;
}

.siguiente {
    display: flex;
    justify-content: center;
}

.cerrar {
    background: #FFFFFF;
    color: #009DB2;
}

.volver {
    background: #FFFFFF;
    border: 1px solid #009DB2;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
    border-radius: 15px;
    margin-left: 1px;
    margin-right: 100px;
}

.descargar {
    background-color: #009DB2;
    color: rgb(255, 255, 255);
    margin-left: 1px;
    margin-right: 100px;
}

.form {
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
}

.margin {
    margin-left: 70px;
    margin-top: 10px;
    margin-right: 100px;
}

.fecha {
    display: flex;
    justify-content: flex-end;
}

.fechaColor {
    color: #4A4A4A;
}

.ant-table-thead>tr>th {
    margin-top: 10px;
    background-color: #AACFD6 !important;
    border: 1px solid #D5E6E9 !important;
}

.ant-table-tbody>tr>td {
    margin-top: 10px;
    background-color: #D5E6E9 !important;
    border: 1px solid #D5E6E9 !important;
}

.ant-table-tbody>tr:nth-child(even)>td {
    margin-top: 10px;
    background-color: #c1e7ee !important;
    border: 1px solid #D5E6E9 !important;
}

.ant-table-filter-dropdown-link {
    padding: 0 .5em;
}

.marginTabla {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.semaforo {
    width: 1em;
    height: 1em;
    border-radius: 0.5em;
    display: inline-block;
    margin-left: .3em
}

.semaforoVerde {
    background-color: #53b953;
}

.semaforoAmarillo {
    background-color: #f1f168;
}

.semaforoRojo {
    background-color: #d81616;
}