.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0.5em 1em 0;
}

.header>img {
    width: 15%;
    margin-top: 10px;
}

.button {
    display: flex;
    justify-content: flex-end;
}

.select {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select-especialidad {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.select-especialidad div {
    margin-right: 1em;
}

.siguiente {
    display: flex;
    justify-content: center;
}

.center {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.input {
    display: flex;
    justify-content: center;
    width: 25%;
}

.margin {
    padding: 1em 1.5em;
    margin: 0 !important;
    background-color: #EEFAFB;
}

.cerrar {
    background: #FFFFFF;
    color: #19A5BA;
    font-size: 1.15em;
    padding: 0 2em;
    border: 1px solid #19A5BA;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
    border-radius: 3px;
    border-radius: 6px;
    font-family: "Arial Bold", sans-serif;
    height: 32px;
}

.margin th,
.margin td {
    border: 1px solid #cccaca !important;
    background-color: white !important;
}

.ant-select-selection--single {
    background-color: rgb(250, 249, 249);
    border: 1px solid #AACFD6 !important;
    border: 0px;
}

.ant-table-thead>tr>th,
.ant-table-tbody>tr>td {
    padding: 0.1em 0.7em;
}

.ant-table-tbody>tr>td {
    text-align: right;
}

.ant-table-tbody>tr>td p {
    margin: 0;
}

.centro {
    padding: 1em 0;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-input-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.first-input-group div {
    margin-right: 1em;
    display: flex;
    align-items: center;
}

.spinner {
    position: absolute;
    left: 50%;
    bottom: 50%;
}

.campo {
    font-weight: bolder;
    font-size: 15px;
    margin-right: 1em;
}