.login-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: radial-gradient( ellipse closest-side, #f8f8f8 30%, #aad6da 100%, #106a86 100%);
}

.login-container {
    width: 35%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-logo-area {
    padding: 30px 5px;
}

.login-form-area {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-wellcome {
    font-size: 25px;
    color: #106a86;
    letter-spacing: 1.84px;
    text-align: center;
}

.login-instructions {
    font-size: 15px;
    color: #106a86;
    letter-spacing: 1.84px;
    text-align: center;
    margin-bottom: 30px;
}

.login-logo {
    width: 400px;
}

.saltala-input {
    display: inline-block;
    margin-bottom: 5px;
    text-align: center;
    vertical-align: middle;
    padding: 0 10px;
    border-radius: 7px;
    border: 1px solid #106a86;
    font-size: 16px;
    height: 35px;
    width: 200px;
}

.login-saltala-button {
    color: #fff;
    background-image: linear-gradient(-236deg, rgb(133, 202, 216) 5%, #439fa8 100%);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    height: 45px;
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 10px;
    padding: 0 10px;
    width: 195px;
}